/* Base bubble styling */
.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #88ccff;
  border: 1px solid #5599dd;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

/* Hover effect for the bubble */
.bubble:hover:not(:disabled) {
  transform: scale(1.05);
  box-shadow: 0 0 3px rgba(136, 204, 255, 0.7);
}

/* Animation for when the bubble is popped */
.popped {
  animation: pop 0.3s forwards;
}

/* Animation for when the bubble times out */
.timed-out {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  outline: none;
  animation: time-out 1.5s forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes time-out {
  0% {
    background-color: yellow;
    transform: scale(1);
  }
  
  33% {
    background-color: orange;
    transform: scale(0.9);
  }
  
  66% {
    background-color: red;
    transform: scale(0.8);
  }
  
  100% {
    background-color: red;
    transform: scale(0);
    opacity: 0;
  }
}